body {
	font-family: 'Roboto', sans-serif;
	color: #3a3f52;
	background-color: silver;
}

#Label {
	margin-right: 5px;
}

#footer {
	margin-top: 20px;
}

#Search {
	display: flex;
	justify-content: center;
	padding: 20px;
}

#Header {
	text-align: center;
}

.centered {
	text-align: center;
}

#the-big-box {
	/* This div should be centered in the page */
	display: flex;
	justify-content: center;
	padding: 20px;
	height: 600px;
}

#Random {
	display: flex;
	justify-content: center;
}

li {
	font-size: 12px;
	padding: 10px;
}

.block {
	/* These are wrappers for three cards, one for each of the two lists and the definition block */
	background-color: rgb(179, 215, 215);
	border-style: solid;
	border: 20px;
	border-color: black;
	padding: 20px;
	height: 500px;
}

.delete {
	float: left;
}

/* .saved-word {
	float: left;
} */

.block-wrapper {
	margin: auto;
	padding: 20px;
	float: left;
	background: rgb(141, 174, 199);
}

#Definition {
	float: left;
	width: 400px;
}

#History {
	float: left;
	width: 175px;
}

#Saved {
	float: left;
	width: 175px;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

h3 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 25px;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .05em;
	color: #53627C;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}

section {
	padding: 100px 0px;
}

#error-message {
	color: red;
	text-align: center;
}